div(class='todo_switches')
                form(action='/closedTasks' method='get')
                    input.todo_switch#closedTasks(type='submit' value='Closed Tasks')
                form(action='/dashboard' method='get')
                    input.todo_switch#openTasks(type='submit' value='TODO List') 
                form(action='/addTaskPage' method='get')
                    input.todo_switch#closedTasks(type='submit' value='Add A Task') 