<!DOCTYPE html>
<html>
<head>
    block title
    <meta charset="utf-8" />
    style
        include styles.css
</head>
<body>
    block todo_list
        block header
        block content
    script
        include script.js
</body>
<html>
